{% extends 'global.html' %}
{% load static %} <!--Módulo para static files. The load static tag does not load static files. It’s purpose is to allow you to use the static tag in your template.-->
{% block title %}Grupo de orden{% endblock %}

{% block header_btns %}
    <button id="activate-label-scan-btn">Escanear</button>
{% endblock %}

{% block content %}

<h1>Preparación de Pedidos</h1>

<h3>Datos generales</h3>
<div id = 'order-group-general-information'>
    {% include 'orders/partials/group_general_information.html' %}
</div>

<br>

<h3>Datos de finalización</h3>
<div id = 'order-group-courier-information'>
    {% if order_group_instance.status == 'finalized' %}
        
            <p><b>Nombre despachador: </b>{{ order_group_instance.courier_name }}</p>
            <p><b>Patente despachador: </b>{{ order_group_instance.courier_license_plate }}</p>
            <p><b>Finalizado por: </b>{{ order_group_instance.finalized_by }}</p>
            <p><b>Fecha/hora: </b>{{ order_group_instance.finalized_date_time }}</p>
            <div id="manifest-image-container" >
                <img id="manifest-image" src="{{order_group_instance.manifest_image.url}}" alt="manifest-image">
            </div>
    {% endif %}
</div>

<br>

{% if prepared_orders_count > 0 and order_group_instance.status == 'in_progress' %} 
    <button id = "process-order-group-modalBtn" name="process-order-group">Procesar Grupo</button>
{% endif %}

{% if order_group_instance.status == 'prepared' %}
    <a href="{% url 'orders:finish_order_group' order_group_instance.id %}"><button>Finalizar Grupo</button></a>
{% endif %}


<!--Aquí se está usando HTMX, Una biblioteca de JS que permite el uso de AJAX directamente en html. En este caso, esta biblioteca nos permite actualizar el front-end sin necesidad de 'refrescar' o del uso de JS adicional.
hx-get: Will cause an element to issue a GET to the specified URL and swap the HTML into the DOM using a swap strategy.
hx-trigger: Allows you to specify what triggers an AJAX request. En este caso, se va a hacer polling cada 5 segundos al view 'order_group'.--> 
<div id = "group-orders-cotainer" hx-get="{% url 'orders:order_group' order_group_instance.id %}" hx-trigger="every 5s">
    {% include 'orders/partials/orders_from_group.html' %}
</div>


{% endblock %}

{% block modal %}
    <div id="label-scan-modal" class="modal">

        <div class="modal-content">
            <h3>Escanear etiqueta de envío</h3>
            <div id="label-reader"></div>
            <button id = "cancel-label-scan-btn">Cancelar</button>
        </div>
    </div>

    <div id="label-scan-error-modal" class="modal">

        <div class="modal-content">
            <i id = "label-scan-error-sign">&#10060;</i>
            <h3 id = "label-scan-error-header">Error</h3>
            <p id="label-scan-error-text"></p>
            <button id = "close-label-error-modal">Aceptar</button>
        </div>
    </div>

    
    <div id="process-order-group-modal" class="modal">

        <div class="modal-content">
            <div id = "updatable-group-modal-content">

                {% include 'orders/partials/group_modal_content.html' %}
                
            </div>

            <form method="POST">
                {% csrf_token %}
                <div style="display: flex; gap: 0.8rem;">
                    <button type="submit" name="confirm-order-processing">Confirmar</button>
                    <button id = "close-process-order-group-modal" type="button">Cancelar</button>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

{% block page_scripts %}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{% static 'order_group.js' %}"></script>
{% if prepared_orders_count > 0 and order_group_instance.status == 'in_progress' %} 
    <script src="{% static 'process_order_group.js' %}"></script>
{% endif %} 
{% endblock %}