{% extends 'global.html' %}
{% load static %} <!--Módulo para static files. The load static tag does not load static files. It’s purpose is to allow you to use the static tag in your template.-->
{% block title %}Órdenes de {{marketplace_instance}}{% endblock %}


{% block header_btns %}

{% if not update_log_in_progress %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="update_today_orders">Actualizar</button>
    </form>


    {% if collect_ready_to_print.count != 0 %}
        <button id="collect_print_btn_modal" class="print_btn_modal" type="submit" style="display: none;">Imprimir</button>
    {% endif %}

    {% if flex_ready_to_print.count != 0 %}
        <button id="flex_print_btn_modal" class="print_btn_modal" type="submit" style="display: none;">Imprimir</button>
    {% endif %}


    {% if collect_ready_to_ship.count != 0 %}
        <form method="POST">   
            {% csrf_token %}
            <button id="collect_prepare_btn" class="prepare_btn" type="submit" name="collect_prepare_btn" style="display: none;">Preparar</button>
        </form>
    {% endif %}

    {% if flex_ready_to_ship.count != 0 %}
        <form method="POST">
            {% csrf_token %}
            <button id="flex_prepare_btn" class="prepare_btn" type="submit" name="flex_prepare_btn" style="display: none;">Preparar</button>
        </form> 
    {% endif %}
{% endif %}

{% endblock %}

{% block content %}

{% if update_log_in_progress %}
    <div id="manual-orders-update-msg">
        <img src="{% static 'images/alert-circle.svg' %}" alt="information-circle"> 
        <p style="margin-block: 0.5rem;">Actualización manual de órdenes en progreso.</p>
    </div>
{% endif %}

<h1 class="orders-section-title">Órdenes de {{marketplace_instance}}</h1>


<div class="order_totals_container">
    <div id="ml_collect_totals" class="order_totals">
        <h3>Colecta</h3>

        {% if collect_ready_to_print.count != 0 %}
            <p id="toggle_collect_print">Etiquetas por imprimir <span> {{ collect_ready_to_print.count }}</span></p>
        {% else %}
            <p>Etiquetas por imprimir <span> {{ collect_ready_to_print.count }}</span></p>
        {% endif %}

        {% if collect_ready_to_ship.count != 0 %}
            <p id="toggle_collect_ship">Pedidos listos para despacho <span>{{ collect_ready_to_ship.count }}</span></p>
        {% else %}
            <p>Pedidos listos para despacho <span>{{ collect_ready_to_ship.count }}</span></p>
        {% endif %}

    </div>

    <div id="ml_flex_totals" class="order_totals">
        <h3>Flex</h3>
        {% if flex_ready_to_print.count != 0 %}
            <p id="toggle_flex_print">Etiquetas por imprimir <span>{{ flex_ready_to_print.count }}</span></p>
        {% else %}
            <p>Etiquetas por imprimir <span>{{ flex_ready_to_print.count }}</span></p>
        {% endif %}

        {% if flex_ready_to_ship.count != 0 %}
            <p id="toggle_flex_ship">Pedidos listos para despacho <span>{{ flex_ready_to_ship.count }}</span></p>
        {% else %}
            <p>Pedidos listos para despacho <span>{{ flex_ready_to_ship.count }}</span></p>
        {% endif %}
    
    </div>
    
</div>


<h2 class="orders_title"></h2>

<!-- Aquí se despliegan los registros de cada tipo y status de las ordenes de mercado libre, el data de estos se saca del diccionario "orders_queries_dict". Se hace esto para no tener que escribir este mismo contenido html múltiples veces-->
{% for section in orders_queries_dict %}
    <div id="{{ section.div_id }}" class="orders_container">
        {% for order in section.orders_query %}
            <div class="order_card">
                <div class="order_header">
                    <span class="order_id">#{{ order.order_id }}</span>
                    <span style="text-align: right;">{{ order.creation_date_time }}</span>
                    <!--<span>{{ order.client_nickname }}</span>-->
                </div>
                <div class="order_products_container">
                    {% for product in order.order_product_set.all %}
                        <div id = 'orders-mark-div'>
                            {% if product.sku_seller in products_sku_set or product.sku_seller in derivated_skus_set %}
                            
                                {% if product.sku_seller in derivated_skus_set %}
                                    <div style = "padding-block: 0.2rem; padding-inline: 0.2rem; background-color: #999696;" class = "order-product-mark"><div class = "derivated-sku-information-img"><img src="{% static 'images/alert-circle.svg' %}" alt="information-circle"></div> <p>Sku derivado</p></div>
                                {% endif %}

                                {% if product.sku_seller in out_of_stock_skus_set or product.sku_seller in out_of_stock_derivated_skus_set %}
                                    <div style = "padding-block: 0.2rem; padding-inline: 0.2rem; background-color: #eb9c9c;" class = "order-product-mark"><i class="critical-sign">&#9888;</i> <p>Producto sin stock</p></div>

                                {% endif %}

                            {% else %}
                                <p style = "padding-block: 0.2rem; padding-inline: 0.2rem; background-color: #eb9c9c;" class = "order-product-mark"><i class="critical-sign">&#9888;</i> Producto no registrado</p>
                            {% endif %}
                        </div>
                        
                        <div class="order_product_row">
                            <div class="order_product_cell">
                                <i>SKU:</i>
                                <span style="font-weight: bold; font-size: 1.2rem;">{{ product.sku_seller }}</span>
                                <span>{{ product.sku_marketplace }}</span>
                            </div>

                            <div id="order_product_name_cell" class="order_product_cell">
                                <i>Nombre:</i>
                                <span style="font-size: 1.1rem;">{{ product.seller_product_name }}</span>
                            </div>

                            <div id="order_product_quantity_cell" class="order_product_cell">
                                <span>{{ product.quantity }} </span>
                                <span>{% if product.quantity > 1 %}unidades{% else %} unidad {% endif %}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

{% endblock %}


{% block modal %}

{% for section in organized_orders_dict %}
    <div id="{{ section.div_id }}" class="modal">

        <div class="modal-content" style="margin-left: auto; margin-right: auto; margin-top: 4em; padding: 20px; border: 1px solid #888; width: 45%; background-color: rgb(88, 84, 84); max-height: calc(100vh - 210px); overflow-y: auto;">
            <form method="POST">
            {% csrf_token %}
                <h2>Estás a punto de imprimir las siguientes {{ section.orders_query.count }} órdenes</h2>

                <table class="modal_print_table">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>SKU vendedor</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in section.orders_query %}
                            {% for product in order.order_product_set.all %}
                            <tr>
                                {% if forloop.first %}
                                <td rowspan="{{ order.order_product_set.count }}">{{ order.order_id }}</td>
                                {% endif %}
                                <td>{{ product.sku_seller }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>


                <p><button name="{{ section.btn_name }}">Confirmar</button></p>
            </form>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block page_scripts %}
<script src="{% static 'orders.js' %}"></script>
{% endblock %}