{% load static %} <!--Módulo para static files. The load static tag does not load static files. It’s purpose is to allow you to use the static tag in your template.-->

<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

	<header>
        <div id = "logo-div">
            <i id="nav-open-btn">&#9776;</i>
        </div>
        
        <div class = "header-btn-container">
            {% block header_btns %}{% endblock %}
        </div>

         
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button id="logout-btn"><img src="{% static 'images/log-out.svg' %}" alt="log-out"></button>
        </form>
    </header>

    {% if messages %}
        <ul id="messages-container">
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    <li> {{ message }} <i class = "message-close-btn">&#10005;</i></li>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

	<nav>
        <i id="nav-close-btn">&#10006;</i>
        <ul>
           <li>
                <a href="{% url 'home'%}">Inicio</a>
           </li>

           <li>
                <a>Usuarios</a>
           </li>

           <li>
                <a href="{% url 'products:products_catalogue' %}">Productos</a>
           </li>

           <li>
                <a class="dropbtn">Mercado Libre</a>
                <div class="dropdown-content">
                    <ul>
                        <li>
                            <a href="{% url 'orders:orders' 'mercado-libre'%}">Órdenes</a>
                        </li>
                        
                        <li>
                            <a href="{% url 'orders:groups_of_orders' 'mercado-libre'%}">Grupos de órdenes</a>
                        </li>
                    </ul>
                </div>
           </li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}

    </main>

    {% block modal %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <script src="{% static 'global.js' %}"></script>
    {% block page_scripts %}
    {% endblock %}
</body>

</html>                