{% extends 'global.html' %}
{% load static %}
{% block title %}Editar Producto{% endblock %}

{% block content %}
<h1 class = "form-title">Edición de producto</h1>

<form id="product-form" method="post">
    <div class = "base-product-form">
        {% csrf_token %}

        <p>Sku del producto: {{ product.sku }}</p>

        {% for field in form %}
            {% if field.name == 'ean' %}
                <div id="product-ean-form-section">
                    {{ field.label_tag }}
                    {{ field }}
                    <button id="activate-product-scanner-btn" type="button">Escanear</button>
                    
                </div>

            {% elif field.name == 'stock' %}
                <div id="product-stock-form-section">
                    <p>{{ field.label_tag }}</p>
                    <p>{{ field }}</p>
                </div>

            {% else %}
                <p>{{ field.label_tag }}{{ field }}</p>
            {% endif %}
            {% if field.errors %}
            
            <ul class="product-form-error-list">
            {% for error in field.errors %}
                <li class="product-form-error">{{ error }}</li>
            {% endfor %}
            </ul>

            {% endif %}
        {% endfor %}
        
        {{ existing_derivated_formset.management_form }}
        {% if existing_derivated_formset.total_form_count != 0 %}
            <h3>SKU/s derivado/s</h3>
            <div id="existing-derivated-container">
                <!--{{ existing_derivated_formset }}-->
                {% for form in existing_derivated_formset %}
                    <div class = "existing-derivated-form">{{ form }}</div>
                {% endfor %}
                
            </div>
        {% endif %}
    </div>

    <div class="derivated-skus-form">
        <h3>Crear nuevo/s SKU/s derivado/s</h3>
        <div id="generate-derivated-forms">
            <p>Generar formularios</p>
            <input id="derivated-count-input" type="number" min="0" max="10">
            <button type="button" id="generate-derivated-btn">Generar</button>
        </div>
        {{ formset.management_form }} 
        
        <div id="derivated-formset-container">
        </div>

        {% for form in formset %}
            {% if form.errors %}
                <div class="derivated-sku-errors">
                    <strong>SKU {{ form.sku.value }}</strong>
                    <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <button type="submit" class="confirm-product-form-btn">Confirmar</button>
</form>

{% block modal %}
    <div id="product-scanner-modal" class="modal">

        <div class="modal-content">
            <h3>Escanear código de barra de producto</h3>
            <div id="product-reader"></div>
            <button id = "product-scanner-cancel-btn">Cancelar</button>
        </div>
    </div>

{% endblock %}

{% endblock %}

{% block page_scripts %}
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{% static 'ean_product_form.js' %}"></script>
<script src="{% static 'derivated_skus.js' %}"></script>
{% endblock %}
