{% extends 'global.html' %}
{% load static %} <!--Módulo para static files. The load static tag does not load static files. It’s purpose is to allow you to use the static tag in your template.-->
{% block title %}Catálogo de productos{% endblock %}

{% block header_btns %}
    <a href="{% url 'products:create_product' %}"><button>Crear Producto</button></a>
{% endblock %}

{% block content %}
<h1>Catálogo de productos</h1>

{% if products.count == 0 %}
    <i>No hay productos dentro del catálogo</i>

{% elif products.count > 1 %}
    <h4 id="total-product-count">El catálogo cuenta con {{products.count}} productos en total</h4>
{% endif %}

<div id="products-wrapper">
    {% for product in products %}
        <div class="product-div">


            <div id="product-detail-div">
                <i class="product-field">Detalle</i>
                <p class="product-data-sku">{{product.sku}}</p>
                <p class="product-data-name">{{product.product_name}}</p>
            </div>

            <div id="product-stock-div">
                <i class="product-field">Stock</i>
                <p class="product-data-stock">{{product.stock}}</p>
            </div>
            
            
            <div class="product-option-btn">&#8942;
                <div class="product-dropdown-content">
                    <a href="{% url 'products:product_detail' product.id %}" style="white-space: nowrap;">Ver detalle</a>
                    <a href="{% url 'products:edit_product' product.id %}" style="white-space: nowrap;">Editar Producto</a>
                </div>
            </div>
                

            <div id="product-category-div">
                <i class="product-field">Categoría</i>
                {% if product.category is None %}
                    <p class="product-data-category">Sin categoría</p>
                {% else %}
                    <p class="product-data-category">{{product.category}}</p>
                {% endif %}
            </div>


        </div>
    {% endfor %}
</div>

{% endblock %}

{% block page_scripts %}
<script src="{% static 'product_catalogue.js' %}"></script>
{% endblock %}