{% load static %}
{% for order in group_orders %}
    <div class = "order-from-group-container">
        <ul class = "title-from-order-in-group">
            <li>{{order.order_id}}</li>
                {% if order.status == 'preparing' %}
                    <li class = "order-preparing-status">Preparando</li>
                {% elif order.status == 'prepared' %}
                    <li class = "order-prepared-status">Preparado</li>
                {% elif order.status == 'not_prepared' %}
                    <li class = "not-prepared-status">No preparado</li>
                {% elif order.status == 'partially_prepared' %}
                    <li class = "partially_prepared-status">Parcialmente preparado</li>
                {% else %}
                    <li>{{order.status}}</li>
                {% endif %}
        </ul>

        <div class="products-from-order-in-group-container">

            <div class = "products-from-order-in-group">
                
                <p class="product-cell-header">Producto</p>
                <p class="product-cell-header">Unidades</p>
                {% for product in order.order_product_set.all %}
                    <div class="product-cell-data">

                        <div>

                            {% if product.sku_seller in products_sku_set or product.sku_seller in derivated_skus_set %}
                            
                                {% if product.sku_seller in derivated_skus_set %}
                                    <div class = "order-product-mark"><div class = "derivated-sku-information-img"><img src="{% static 'images/alert-circle.svg' %}" alt="information-circle"></div> <p>Sku derivado</p></div>
                                {% endif %}

                                {% if product.sku_seller in out_of_stock_skus_set or product.sku_seller in out_of_stock_derivated_skus_set %}
                                    <div class = "order-product-mark"><i class="critical-sign">&#9888;</i> <p>Producto sin stock</p></div>

                                {% endif %}

                            {% if product.prepared_without_stock == True %}
                                <p class = "order-product-mark"><i class="warning-sign">&#9888;</i> Preparado sin stock</p>
                            {% endif %}

                            {% else %}
                                <p class = "order-product-mark"><i class="critical-sign">&#9888;</i> Producto no registrado</p>
                            {% endif %}
                        </div>

                        <p>{{ product.sku_seller }}</p>
                        <p>Nombre del producto</p>
                    </div>
                    <p id = "product-counter-cell" class="product-cell-data">{{ product.quantity_scanned }} / {{ product.quantity }}</p>

                {% endfor %}
            </div>
        </div>

    </div>
{% endfor %}